@model log4netViewer.MvcWeb.Models.HomeIndexModel
@{
    ViewBag.Title = "Home";
}

<div class="FilterMenu">

</div>

<div class="LogContent">
    <span>Here logs are outputted</span>
</div>

