<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Log Viewer Administration</title>
    </head>
    <body>
        
    </body>
</html>
